
\.idea/

*.pyc

file_selector/\.DS_Store

django-master/

matplotlib-master/

networkx-master/

neupy-master/

scikit-image-master/

scikit-learn-master/

MSR-Snapshot\.zip

lib/scikit\.json

lib/.mypy_cache
